@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}


header > div {
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

nav {
    width: 600px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
}

.blackHeart {
    width: 20px;
    margin-right: 1rem;
}

a {
    text-decoration: none;
}

.npm-logo {
    width: 70px;
}

.search-bar {
    padding: 10px 25px;
}

.form {
    position: relative;
    left: -2em;
    width: 80%;
    padding-left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form input {
    background-color: rgba(241,241,241,0.5);
    padding-left: 50px;
    height: 50px;
    width: 100%;
    border: none;
    font-size: 1em;
}

.magnifying-glass {
    position: absolute;
    width: 30px;
    padding: 10px;
}

.search-button {
    background-color: #fb3e44;
    color: white;
    border: 1px solid rgb(241,241,241);
    padding: 17px 20px;
}

.auth-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 12%;
}

.auth-links a {
    color: black;
}

.join {
    border: 1px solid gray;
    padding: 8px 20px;
}

.container-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#first-section {
    height: 600px;
    background-color: rgba(232,217,217,0.5);
}

.text-container {
    width: 430px;
    text-align: center;
    line-height: 2em;
    margin-top: 30px;
}

h1 {
    font-size: 4.5em;
    font-weight: 700;
    padding-top: 100px;
}

#plans {
    padding: 30px 0 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
}

.see-plans {
    background-color: #FB3B49;
    box-shadow: 8px 8px 0 rgba(251,59,73,20%);
    color: white;
    padding: 15px 60px;
    margin-right: 20px;
}

.join-for-free {
    padding: 15px 60px;
    background-color: white;
    color: black;
    margin-left: 20px;
}

.triangleHexagon {
    width: 500px;
}

h2 {
    margin-top: 60px;
    background-color: rgba(255,204,53,40%);
    width: 900px;
    height: 43px;
    text-align: center;
    transform: skew(9deg,0deg);
    font-size: 2.2em;
    font-style: italic;
    font-weight: 600;
}

#second-section img {
    width: 250px;
    margin-top: 70px;
}

#second-section p {
    width: 700px;
    text-align: center;
    line-height: 1.5em;
}

#third-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.containers {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-start;
    width: 80%;
}

.containers div p {
    width: 250px;
}

#third-section img {
    width: 40px;
}

h3 {
    color: #ED1C24;
    font-size: 1em;
    margin-bottom: 30px;
}

#third-section a {
    background-color: black;
    color: white;
    font-weight: 600;
    font-size: 1.2em;
    padding: 1em 8em;
    box-shadow: 8px 8px 0 rgba(128,83,35,20%);
    margin: 70px 0;
}